.highlight .c {
  color: $highlight-grey;
  font-style: italic;
}

.highlight .err {
  color: $highlight-red;
}

.highlight .k {
  color: $highlight-blue;
}

.highlight .o {
  color: $highlight-darkest-grey;
}

.highlight .cm {
  color: $highlight-grey;
  font-style: italic;
}

.highlight .cp {
  color: $highlight-grey;
}

.highlight .c1 {
  color: $highlight-grey;
  font-style: italic;
}

.highlight .cs {
  color: $highlight-grey;
  font-style: italic;
}

.highlight .gd {
  background-color: $highlight-light-red;
  color: $highlight-darker-grey;
}

.highlight .ge {
  font-style: italic;
}

.highlight .gr {
  color: $highlight-red;
}

.highlight .gh {
  color: $highlight-lighter-grey;
}

.highlight .gi {
  background-color: $highlight-light-green;
  color: $highlight-darker-grey;
}

.highlight .go {
  color: $highlight-lighter-grey;
}

.highlight .gp {
  color: $highlight-darker-grey;
}

.highlight .gs {
  color: $highlight-darkest-grey;
}

.highlight .gu {
  color: $highlight-lightest-grey;
}

.highlight .gt {
  color: $highlight-darker-grey;
}

.highlight .kc {
  color: $highlight-darkest-grey;
}

.highlight .kd {
  color: $highlight-darkest-grey;
}

.highlight .kn {
  color: $highlight-darkest-grey;
}

.highlight .kp {
  color: $highlight-darkest-grey;
}

.highlight .kr {
  color: $highlight-darkest-grey;
}

.highlight .kt {
  color: $highlight-green;
}

.highlight .m {
  color: $highlight-bright-green;
}

.highlight .s {
  color: $highlight-bright-green;
}

.highlight .na {
  color: $highlight-green;
}

.highlight .nb {
  color: $highlight-blue;
}

.highlight .nc {
  color: $highlight-green;
}

.highlight .no {
  color: $highlight-green;
}

.highlight .ni {
  color: $highlight-darker-grey;
}

.highlight .ne {
  color: $highlight-blue;
}

.highlight .nf {
  color: $highlight-darkest-grey;
}

.highlight .nn {
  color: $highlight-darker-grey;
}

.highlight .nt {
  color: $highlight-darker-grey;
}

.highlight .nv {
  color: $highlight-green;
}

.highlight .ow {
  color: $highlight-darkest-grey;
}

.highlight .w {
  color: $highlight-darker-grey;
}

.highlight .mf {
  color: $highlight-bright-green;
}

.highlight .mh {
  color: $highlight-bright-green;
}

.highlight .mi {
  color: $highlight-bright-green;
}

.highlight .mo {
  color: $highlight-bright-green;
}

.highlight .sb {
  color: $highlight-bright-green;
}

.highlight .sc {
  color: $highlight-bright-green;
}

.highlight .sd {
  color: $highlight-bright-green;
}

.highlight .s2 {
  color: $highlight-bright-green;
}

.highlight .se {
  color: $highlight-bright-green;
}

.highlight .sh {
  color: $highlight-bright-green;
}

.highlight .si {
  color: $highlight-bright-green;
}

.highlight .sx {
  color: $highlight-bright-green;
}

.highlight .sr {
  color: $highlight-bright-green;
}

.highlight .s1 {
  color: $highlight-bright-green;
}

.highlight .ss {
  color: $highlight-red;
}

.highlight .bp {
  color: $highlight-darker-grey;
}

.highlight .vc {
  color: $highlight-green;
}

.highlight .vg {
  color: $highlight-green;
}

.highlight .vi {
  color: $highlight-green;
}

.highlight .il {
  color: $highlight-bright-green;
}
