<html>
  <head>
    <meta content='width=device-width,initial-scale=1,shrink-to-fit=no' name='viewport'>

    <title>{{ page.title }}</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
  </head>

  <body class="container">
    <nav class="navbar container">
      <a href="/" class="logo">Tom Schaefer</a>

      <div class="navbar__actions">
        <a href="/about">About</a>
        <a href="/">Blog</a>
      </div>
    </nav>

    {{ content }}
  </body>
</html>
